.review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-block: 56px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%), url('../../../assets/contactus.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    h1 {
        margin: 0 0 56px 0;
        font-size: 48px;
        font-family: 'Muli', sans-serif;
        font-weight: 400;
        color: #fff;
        
    }

    h2 {
        font-size: 18px;
        font-weight: 400;
    }

    .coming-soon {
        display: flex;
        justify-content: center;
        background-color: #333333;
        width: 100%;
        max-width: 44%;
        color: #fff
    }
}