.nav-banner {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--yellow);
    padding-block: 8px;
    z-index: 1000;

    .nav-content {
        padding-inline: 10px;
        font-size: 14px;

        svg {
            padding-inline: 4px;
        }
    }
}

.navbar {
    position: sticky;
    z-index: 999;
    top: 34px;
    display: flex;
    flex-direction: column;
}

.nav-container-mobile {
    display: none;
}

.nav-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
    background-color: rgb(51, 51, 51);
    padding-inline: 24px;

    h3 {
        margin: 0;
        font-weight: 400;
    }
}

.section-nav {
    display: flex;
    flex: 1 0 0;
    flex-direction: row;
    padding-inline: 16px;
}

.block {
    padding-inline: 16px;
}

.header-logo {
    display: flex;
    align-self: flex-start;
    padding-block: 21px;
    flex-basis: 20%;
    
    .logo {
        font-family: "Quicksand", sans-serif;
        font-size: 24px !important;
        color: #a9a9a9;
        letter-spacing: 0.091em;
        text-transform: uppercase;
    }

    .side-menu-close {
        display: none;
    }
}

.header-menu {
    display: flex;
    align-self: center;
    padding-block: 16px;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    .menu {
        display: flex;
        flex: 1 0 0;
        flex-direction: row;
        margin: 0;
        padding: 0;
        justify-content: center;

        .list {
            display: flex;
            margin-inline: 14px;
            font-family: "Quicksand", sans-serif;
            font-size: 12px;
            color: #a9a9a9;
            letter-spacing: 0.167em;
            text-transform: uppercase;
            text-align: center;
            align-items: center;
        }

        a {
            cursor: pointer;
        }

        .list:hover {
            color: rgb(122, 190, 250);
        }
    }
}

.header-user {
    display: flex;
    flex-basis: 20%;
    justify-content: right;
    align-items: center;

    .logo {
        svg {
            height: 24px;
            width: 24px;
        }
    }
}

@media screen and (max-width: 600px) {
    .nav-banner {
        position: fixed;
        width: 100vw;
    }

    .navbar {
        display: flex;
        flex: 1 0 100%;
        position: fixed;
        z-index: 999;
        top: 34px;
        flex-direction: column;
        overflow: hidden;
    }
    
    .nav-container {
        display: flex;
        position: fixed;
        top: 34px;
        background-color: rgb(51, 51, 51);
        padding-inline: 0;
        height: 100%;
        width: 90vw;
        visibility: visible;
        transition: all 0.3s ease-in;

        h3 {
            margin: 0;
            font-weight: 400;
        }
    }

    .nav-container-mobile {
        display: flex;
        flex-direction: row;
        background-color: rgb(51, 51, 51);
        padding: 16px 24px;
        justify-content: space-between;
        width: 100vw;
        box-sizing: border-box;

        svg {
            padding: 6px;
            color: #a9a9a9;
        }
    }

    .section-nav {
        display: flex;
        flex: 1 0 0;
        flex-direction: column;
        padding: 30px 16px;
    }

    .block {
        padding-inline: 16px;
    }

    .header-logo {
        display: flex;
        align-self: flex-end;
        padding: 14px 30px;
        flex-basis: 0%;
        
        .logo {
            display: none;
        }

        .side-menu-close {
            display: block;
            color: #a9a9a9;
            align-self: flex-end;
            padding: 6px;
        }
    }


    .header-menu {
        display: flex;
        align-self: center;
        padding-block: 16px;
        flex-grow: 1;
        justify-content: flex-start;
        align-items: flex-start;
        align-self: flex-start;

        .menu {
            display: flex;
            flex: 1 0 0;
            flex-direction: column;
            margin: 0;
            padding: 0;
            gap: 24px;
            transform: translateX(-50%);
            opacity: 0;
            transition: opacity 0.3s ease 0.2s, transform 0.3s ease 0.2s;

            .list {
                display: flex;
                margin-inline: 14px;
                font-family: "Quicksand", sans-serif;
                font-size: 18px;
                color: #a9a9a9;
                letter-spacing: 0.167em;
                text-transform: uppercase;
                text-align: center;
                align-items: center;
                white-space: nowrap;
            }

            a {
                cursor: pointer;
            }

            .list:hover {
                color: rgb(122, 190, 250);
            }
        }
        
        .sidebar-open.menu {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .header-user {
        display: flex;
        flex-basis: 20%;
        justify-content: right;
        align-items: center;

        .logo {
            svg {
                height: 24px;
                width: 24px;
            }
        }
    }

    .hide-menu {
        width: 0;
        visibility: hidden;
    }
}
