.ouradvantage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #fff;

  h2 {
    margin: 0;
    font-size: 42px !important;
    font-weight: 400;
    font-family: "Muli", sans-serif;
  }

  h3 {
    margin: 0;
    font-size: 30px !important;
    font-weight: 500;
    font-family: "Quicksand", sans-serif;
  }

  .ouradvantage-upper {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.6) 100%
      ),
      url("../../../assets/our-advantage-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    .ouradvantage-content {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 268px 20px;
      width: 1280px;
      color: #fff;
      font-family: "Muli", sans-serif;

      .list {
        ul {
          padding-inline-start: 20px;
        }

        li > strong {
          font-family: "Muli", sans-serif !important;
          font-weight: 400;
          line-height: 2;
        }
      }
    }
  }

  .ouradvantage-info-section {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(93, 99, 107);
    padding-block-start: 54px;
    width: 100%;

    .ouradvantage-info {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 1280px;

      .info-title,
      .info-desc {
        text-align: center;
        max-width: 75%;
        padding-block-end: 40px;
      }

      .info-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 0 0 100%;
        justify-content: center;

        .info-card {
          display: flex;
          flex-direction: column;
          flex: 0 1 30%;
          padding: 28px 10px;
          align-items: center;

          .card-title,
          .card-icon,
          .card-desc {
            display: flex;
            justify-content: center;
            text-align: center;
          }

          .card-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #4c9aff;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            margin-block-end: 30px;
          }

          .card-title {
            font-size: 24px;
          }

          .card-desc {
            font-size: 16px;
          }
        }
      }
    }
  }

  .ouradvantage-process-section {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-block: 54px;
    color: var(--dark);

    .ouradvantage-process {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      width: 1280px;

      .process-col {
        display: flex;
        flex-direction: column;
        flex-basis: 45%;
        align-items: center;

        .process-title {
          text-transform: uppercase;
          font-weight: 400 !important;
          font-size: 24px;
          letter-spacing: 0.091em;
          padding-block-start: 27px;
        }

        .process-desc {
          text-align: center;
        }

        .process-img {
          display: flex;
          max-width: 400px;

          img {
            width: 400px;
          }
        }
      }
    }
  }

  .question-section {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(93, 99, 107);
    padding-block: 54px;
    width: 100%;

    .question-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 1280px;
      flex-basis: 100%;

      .question-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        background-color: #4c9aff;
        border-radius: 50%;
        width: 100px;
        height: 100px;
      }

      .question-intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-block-start: 27px;

        h3 {
          font-size: 24px !important;
          text-transform: uppercase !important;
          letter-spacing: 0.091em;
        }
      }

      .questions {
        display: flex;
        flex-direction: row;
        flex: 1 0 100%;
        justify-content: space-between;
        padding-inline: 24px;
        flex-wrap: wrap;
      }

      .question-button {
        display: flex;
        align-self: flex-end;
        padding-inline-end: 24px;
      }
    }
  }

  .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;

    font-size: 16px !important;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    padding: 8px 16px;
    border: 1.3px solid #fff;
    cursor: pointer;
  }

  .button::before,
  .button::after {
    border-top: 1px solid !important;
    inline-size: 18px;
    height: 0.1px;
    display: inline-block;
    color: #fff;
    content: "";
  }

  .button::before {
    margin-inline-end: 8px;
  }

  .button::after {
    margin-inline-start: 8px;
  }

  .button:hover,
  .button:hover::before,
  .button:hover::after {
    color: rgb(22, 22, 22);
    background-color: rgb(209, 228, 252);
    border-color: rgb(209, 228, 252);
  }
}
