.contactus-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 106px 56px;

    h3 {
        margin: 0;
        font-size: 24px;
        color: #595959;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 0.091em;
        padding-block: 40px;
    }

    .message {
        font-size: 18px;
        font-weight: 700;
        margin-block-end: 24px;
    }

    .sub-message {
        font-weight: 400 !important;
        color: #5E5E5E;
        margin-block-end: 40px;
        line-height: 1.5;

        h4 {
            margin: 0;
            font-weight: 400 !important;
        }
    }

    .subs-input {
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-grow: 1;
        position: relative;
        flex-direction: column;
        padding-block-end: 24px;
        width: 100%;

        &-label {
            position: absolute;
            left: 12px;
            font-size: 16px;
            font-weight: 400;
            color: rgb(132, 150, 173);
            // text-align: center;
            transition: 0.2s ease all;
            pointer-events: none;
            padding-inline-start: 1px;
        }

        &-field { 
            display: flex;
            font-size: 16px;
            flex-grow: 1;
            height: 38px;
            border: 1px solid rgba(119, 119, 119, 0.5);
            padding-inline-start: 14px;
            line-height: 1;
            padding-block-start: 16px;
        }

        &-field:focus, &-area:focus {
            outline: none;
            box-shadow: rgba(71, 71, 71, 1) 0px 0px 0px 1px inset;
        }

        &-field:focus + label,
        &-field:not(:placeholder-shown) + label {
            top: 8px;
            left: 12px;
            font-size: 12px;
        }

        &-area {
            display: flex;
            font-size: 16px;
            flex-grow: 1;
            height: 202px;
            border: 1px solid rgba(119, 119, 119, 0.5);
            padding-inline-start: 14px;
            line-height: 1.75;
            padding-block-start: 16px;
            resize: none;
        }

        &-area:focus + label,
        &-area:not(:placeholder-shown) + label {
            color: transparent;
        }
    }

    .button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 40px;

        font-size: 16px !important;
        color: rgb(104, 120, 140);
        letter-spacing: 2px;
        font-weight: 700;
        line-height: 1.5;
        text-align: center;
        text-transform: uppercase;
        padding: 8px 16px;
        border: 1.3px solid rgb(104, 120, 140);
        cursor: pointer;
    }

    .button::before, .button::after {
        border-top: 1px solid !important;
        inline-size: 18px;
        height: 0.1px;
        display: inline-block;
        color: rgb(104, 120, 140);
        content: "";
    }

    .button::before {
        margin-inline-end: 8px;
    }

    .button::after {
        margin-inline-start: 8px;
    }

    .button:hover, .button:hover::before, .button:hover::after {
        color: rgb(22, 22, 22);
        background-color: rgb(209, 228, 252);
        border-color: rgb(209, 228, 252);
    }

    .text-area {
        margin-block-start: 16px;
    }
    
    .text-area-m {
        justify-content: flex-start;
    }

    .form-column {
        display: flex;
        flex-direction: row;
        flex: 1 0 100%;
        max-width: 1280px;
        width: 100%;

        &-a {
            display: flex;
            flex-direction: column;
            flex: 1 0 45%;
            padding-inline: 24px;
        }

        &-b {
            display: flex;
            flex-direction: column;
            flex: 1 0 45%;
            padding-inline: 24px;
        }
    }

    .form-note {
        font-size: 14px;
        color: #595959;
        padding-block: 32px 16px;

        p {
            margin: 0;
        }
    }

    .sched-theme {
        color: #68788C;
    }

    .sched-theme:hover {
        color: #104B6F;
        cursor: pointer;
    }

    .sched-table {
        cursor: pointer;
    }
}

@media screen and (max-width: 600px) {
    .contactus-container {

        h3 {
            padding-block: 40px;
        }

        .form-column {
            flex-direction: column;
        }
    }
}

.fixed-padding {
    padding-block: 24px !important;

    h3 {
        padding-block: 0 40px !important;
    }
}