.faq-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5D636B;

    .faq-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title {
            color: var(--light);
            letter-spacing: 0.023em;
            text-transform: uppercase;
            padding-block: 140px 57px;

            h1 {
                font-size: 48px;
                margin: 0;
                font-weight: 400;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 12px 0 26px;
            max-width: 1280px;

            h3 {
                font-size: 18px;
                margin: 0;
                font-weight: 700;
            }

        }
    }
}

@media screen and (max-width: 1280px) {
    .faq-section {
        .faq-container {
            .content {
                max-width: fit-content;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .faq-section {
        .faq-container {
            .title {
                padding: 140px 20px 32px;

                h1 {
                    font-size: 36px;
                }
            }

            .content {
                padding: 12px;
                max-width: fit-content;
            }
        }
    }
}