.accordion {
    padding: 20px 18px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
    color: #1F1F1F;
    margin: 0 40px 16px;

    h3 {
        font-size: 16px !important;
    }

    p {
        font-size: 14px !important;
        margin: 12px;
    }

    .accordion-title {
        cursor: pointer;
    }

    .accordion-details {
        max-height: 0;
        overflow: hidden;
        transition: all 0.2s ease;
    }

    .toggled {
        max-height: fit-content;
    }
}

@media screen and (max-width: 600px) {
    .accordion {
        margin: 0 0 16px;

        .toggled {
            max-height: fit-content;
        }
    }
}