:root {
  --dark: #333333;
  --gray: #595959;
  --light: #F7F7F7;
  --mid-gray: #A9A9A9;
  --bluish: #D1E4FC;

  --accent: #4C9AFF;
  --danger: #FF6B6B;
  --success: #4CAF50;
  --warning: #FFC107;

  --blue: #4C9AFF;
  --red: #FF6B6B;
  --green: #4CAF50;
  --yellow: #FFC107;
  --cyan: #00B8D9;
  --purple: #8E44AD;
  --teal: #1ABC9C;
  --peach: #FF9E80;
  --lime: #C6FF00;
  --rose: #F1948A;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
